
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    display: inline-block;
    background-color: #0082DD;
    padding: 13px 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    border-radius: 5px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}

.wrapper{
    width: 80%;
    margin: 0 auto;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
/* Banner section css start here  */

#banner{
width: 100%;
height: 100vh;
}

.banner_section_wrapper {
        width: 100%;
        height: 100%;
        background-image: url(../img/banner2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .banner_content {
        width: 35%;
        margin-right: 10%;
       
    }
    .banner_content h3{
        font-size: 55px;
        line-height: 65px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .banner_content p{
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
/* Banner section css end here  */


/* failure & Mission section css start here  */
#myFailure, #myMission{
    width: 100%;
    padding: 100px 0;
}

.img_wrapper{
    flex: 50%;
}
.wrapper img {
    width: 100%;
    border-radius: 5px;
}
 .content {
    flex: 50%;
    padding: 0 100px;
}
 .content h3{
    line-height: 46px;
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    margin-bottom: 5px;
    
}
 .content p{
    line-height: 26px;
    color: #444343;
}
 .content ul li{
    color: #444343;
    line-height: 26px;
}
 .content ul li i{
    color: #0082DD;
}
#myMission{
    padding-top: 0;
}
section#myMission .content {
    padding: 0 100px 0 0;
}
/* failure & Mission section css end here  */


/* skills section css start here  */

#Plans .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
}
.skills {
    text-align: center;
}
.skills img {
    width: auto;
    text-align: center;
}
.skills h4 {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}
.skills p {
font-size: 25px;
line-height: 29px;
font-weight: 500;
color: #737272;
}


/* skills section css end here  */

/* Thinking  section css start here  */

#thinking{
    background-image: linear-gradient(90deg, #1b1c1c 0%, rgba(241, 91, 34, 0) 100%),url(../img//watch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 285px;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 50px auto;
    overflow: hidden;
}
#thinking .content-wrapper {
    margin-left: 60px;
}

#thinking .content-wrapper h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
}
/* Thinking  section css end here  */


/* footer section css start here  */

#footer{
    background-color: #000;
    padding: 50px;
    margin-top: 80px;
}

#footer .wrapp_content{
    display: flex;
    width: 80%;
    margin: 0 auto;

}
#footer .wrapp_content .title{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
#footer .addrss {
    flex: 60%;
    padding-right: 280px;
}
#footer .addrss p{
    color: #fff;
    line-height: 26px;
}
#footer ul{
    display: flex;
}
#footer li {
    background: #0082DD;
    margin-right: 11px;
    border-radius: 50%;
    color: #fff;
}
#footer li i.fa {
    color: #fff;
}
#footer a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#footer .subscribe{
flex: 40%;
}
input[type="email"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
input:focus { 
    outline: none !important;

 }
/* footer section css end here  */